<a href="https://colab.research.google.com/github/yebiny/SkillTreePython/blob/main/%ED%95%B4%EC%84%A4/2_3_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-3.파이썬의 자료형:리스트
---
* 날짜:
* 이름: 윤예빈

## 개념정리
---

리스트 자료형은 파이썬의 다양한 군집자료형 중의 하나입니다.

### (1) 생성

* `[ ]` 기호를 통해 빈 리스트를 생성합니다.

```
a = []
print(a, type(a) )
```

In [38]:
#a = []
a = '123' # 문자열 
a = list(a) # 문자열 -> 리스트
print(a, type(a))

['1', '2', '3'] <class 'list'>

#### **리스트의 요소**

리스트의 요소는 문자열 뿐만 아니라 또 다른 리스트, 수치 자료형 등 다양한 요소들을 포함할 수 있습니다. 리스트 안의 요소들은 통일 하지 않아도 유효합니다.

```
a = [1, "a", True, [1,2,3]]
print(a, type(a))
```

In [39]:
a = [1, "a", True, [1,2,3]]
print(a, type(a))

[1, 'a', True, [1, 2, 3]] <class 'list'>

### (2) 수정과 삭제

리스트의 값을 수정하거나 삭제할 수 있습니다.

#### **수정**

```
a = [1,2,3,4]
a[0] = "a"
print(a)
```

In [40]:
# 수정과 삭제는 인덱싱을 기반으로 한다.
a = [1,2,3,4]
a[0] = 'a' # a의 첫번째 요소 1을 'a' 로 변경
print(a)

['a', 2, 3, 4]

#### **삭제**


```
a = [1,2,3,4]
del a[0]
print(a)
```

In [41]:
a = [1,2,3,4]
del a[0] # a의 첫번째 요소 1을 삭제
print(a)

[2, 3, 4]


### (3) 인덱싱과 슬라이싱

앞서 문자열 자료형에서 이미 한 것과 마찬가지로 인덱싱과 슬라이싱 기능을 사용할 수 있습니다. 인덱싱과 슬라이싱에 사용되는 방식은 문자열 자료형과 동일합니다.


#### **인덱싱**

```
a = [1,2,3,4,5]
print(a[0]) # 인덱싱
```


#### **슬라이싱**

```
print(a[:2]) # 슬라이싱
```

### (4) 리스트의 연산

리스트의 연산은 `+`(더하기)와 `*`(곱하기) 만 사용할 수 있습니다. 이 때 더하기는 리스트끼리의 덧셈만 가능하며, 곱하기는 리스트와 정수값의 곱만 가능함을 주의해야 합니다. 리스트끼리의 덧셈 결과는 두 리스트를 이어 붙인 리스트가 되고 리스트와 정수의 곱은 리스트의 정수크기만큼 이어붙인 리스트가 됩니다.

연산을 위해 아래와 같이 변수를 정의합시다.

```
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = 3
```

In [42]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = 3

#### **더하기**

리스트와 리스트를 덧셈(+) 기호를 이용해 이어 붙일 수 있습니다. 실제 리스트 요소간의 덧셈이 아님을 유의합니다.


```
print(a+b) 
```

In [43]:
a+b # 하나의 리스트로 연결

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### **곱하기**

리스트와 정수 값을 곱셈(*) 기호를 이용해 여러번 반복 합니다. 실제 리스트 요소의 곱셈이 아님을 유의합니다.

```
print(a*c)
```

In [44]:
a*c # a가 c번 반복, 하나의 리스트로 연결

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### (5) 리스트 메소드

지난번 문자열 메소드와 마찬가지로 리스트에도 다양한 내장함수 및 메소드가 존재합니다. 

|| 종류|
|--|--|
|내장함수| `len()`, `max()`, `min()`, `sum()`, `list()`, `sorted()`|
|메소드| `.append()`, `.extend()`, `.count()`, `.index()`, `.insert()`, `.pop()`, `.remove()`, `.reverse()`, `.sort()`

####  **내장함수**

함수 사용을 위해 아래와 같은 리스트를 정의합시다.

```
a = [4,2,1,3]
```

In [45]:
a = [4,2,1,3]

* `len()`: 길이를 구합니다.

```
print(len(a))
```

In [46]:
len(a)

4

* `max()`: 최대값을 구합니다.

```
print(max(a))
```

* `min()`: 최소값을 구합니다.

```
print(min(a))
```

* `sum()`: 모든값을 더합니다.

```
print(sum(a))
```

In [47]:
sum(a)
#b = ['1', '2', '3']
#sum(b)

10

* `sorted()`: 값을 정렬합니다.

```
print(sorted(a))
```

In [48]:
print(sorted(a)) # 오름차순 정렬
print(sorted(a, reverse=True)) # 내림차순 정렬

[1, 2, 3, 4]
[4, 3, 2, 1]

#### **메소드 : 추가**

리스트에 요소를 추가하는 기능을 배워봅니다. 메소드 사용을 위해 아래와 같이 리스트를 정의해 봅시다.

```
a = [1,2,3]
```

In [49]:
a = [1,2,3]


* `append(obj)` : obj 추가

리스트 `a`에 요소 `4`를 추가해 봅시다. 
```
a.append(4)
print(a)
```

In [50]:
a.append(4) # 바인딩 하지 않음!
print(a)

[1, 2, 3, 4]

이번엔 요소 `[5]`를 추가해 봅시다. `[5]`는 리스트이긴 하지만 리스트 또한 다른 리스트의 요소로 존재할 수 있습니다.

```
a.append([5])
print(a)
```

In [51]:
a.append([5])
print(a)

[1, 2, 3, 4, [5]]

* `extend(list)` : list 이어붙이기

`append`와 달리 `extend`는 리스트를 이어붙이는 역할을 합니다. 리스트 `[5]`를 이번엔 `extend`를 이용해 추가해 봅시다. 

```
a.extend([5])
print(a)
```

In [52]:
a= [1,2,3]
a.extend([6]) # entend의 인풋에는 리스트가 들어가야 한다!
print(a)
b = [1,2,3]
b.append([5])
print(b)

[1, 2, 3, 6]
[1, 2, 3, [5]]


* `.insert(idx, obj)` : idx 위치에 obj를 넣기

리스트 `a`의 0번째 위치에 0을 넣어봅시다. 

```
a.insert(0, 0)
print(a)
```

In [53]:
a = [1,2,3]
a.insert(0, 0) # 0번째 위치에 0을 추가
a.insert(3,100) # 3번째 위치에 100을 추가
a

[0, 1, 2, 100, 3]

* Q) 2와 3사이에 1.5를 넣어봅시다.

In [54]:
a = [1,2,3]
a.insert(2, 1.5)
print(a)

[1, 2, 1.5, 3]

#### **메소드: 제거**

리스트에 요소 추가를 했다면 제거하는 메소드도 존재합니다. 메소드 사용을 위해 아래와 같이 리스트를 정의합니다.

```
a = [1,2,3,2,5]
```

In [55]:
a = [1,2,3,2,5]

* `remove(obj)` : obj 제거 (중복시 앞순서부터 제거)

리스트에서 1을 제거해 봅시다.

```
a.remove(1)
print(a)
```

In [56]:
# del : 인덱싱을 알아야 한다.
a.remove(1) # a 에서 요소 1을 지운다.
print(a)

[2, 3, 2, 5]

이번엔 2를 제거해 봅시다. 리스트 안에 2는 두개가 존재합니다. 어떤값이 지워질까요?

```
a.remove(2)
print(a)
```

In [57]:
a.remove(2) # 중복일 시 첫번째 요소부터 제거된다.
print(a)

[3, 2, 5]

* `pop()` : 마지막 요소제거


```
a.pop()
print(a)
```

In [58]:
a = [3,2,5]
a.pop()
print(a)

[3, 2]

#### **메소드: 기타**

또 다른 유용한 메소드에 관해 알아봅시다. 아래와 같이 리스트를 정의합니다.

```
a = [2,2,1,3,3,3]
```

In [59]:
a = [2,2,1,3,3,3]


* `count(obj)` : obj 개수 카운트

리스트 안에 3이 몇개 있는지 알아봅시다.

```
a.count(3)
```

In [60]:
a.count(3)

3

* `index(obj)` : obj 위치 인덱싱 (중복시 앞순서부터)

특정 요소가 몇번째에 위치해 있는지를 알려줍시다. 리스트에서 1은 2번째 인덱스를 가지고 있네요. 메소드를 이용해 같은 값이 나오는지 확인해 봅시다. 

```
a.index(1)
```

In [61]:
a.index(1) # 요소 1의 인덱스 값을 호출

2

중복시 가장 빠른 요소의 인덱스만을 반환함을 유의하세요.

```
a.index(3)
```

In [62]:
a.index(3) # 요소 3은 인덱스 3, 4, 5에 존재. 그 중 가장 빠른 3이 호출

3

* `reverse()`: 리스트 거꾸로 반환

```
a.reverse()
print(a)
```

In [63]:
print(a)
a.reverse()
print(a)
a = a[::-1]
print(a)

[2, 2, 1, 3, 3, 3]
[3, 3, 3, 1, 2, 2]
[2, 2, 1, 3, 3, 3]

* `sort()`: 리스트 정렬

```
a.sort()
print(a)
```

In [64]:
print(a)
a.sort() # 기본적으로 오름차순
print(a)

[2, 2, 1, 3, 3, 3]
[1, 2, 2, 3, 3, 3]

In [65]:
a.sort(reverse=True)
print(a)

[3, 3, 3, 2, 2, 1]

### (6) 다중리스트

리스트 안에 리스트가 존재할 수 있습니다. 복잡한 리스트 이더라도 특정 요소에 접근이 가능해야 합니다. 

앞서 배운대로 `a[0]`과 `a[1]`에 해당하는 요소는 무엇일까요? 생각해보고 코드를 작성해 확인해 봅시다.

```
a = [[1,2,3], [4,5,6]]
a[0], a[1]
```

In [66]:
a = [[1,2,3], [4,5,6]]
print(a[0], type(a[0])) # 값:    타입: 
print(a[1], type(a[1])) # 값:    타입:

[1, 2, 3] <class 'list'>
[4, 5, 6] <class 'list'>


a[0]과 a[1] 자체가 하나의 리스트 입니다. 그렇다면 각 리스트에 다시 인덱싱을 하여 원하는 요소를 얻을 수 있겠네요. 3과 4를 아래와 같이 인덱싱 할 수 있습니다.

```
a = [[1,2,3], [4,5,6]]
a[0][-1], a[1][0]
```

In [67]:
a = [[1,2,3], [4,5,6]]
print(a[0][-1]) # 
print(a[1][0] ) #

3
4

## 문제풀이
---

**예제 01**

과일메뉴가 다음과 같습니다. 리스트로 작성하세요

|과일|
|--|
사과
바나나
감자
메론
복숭아
딸기

In [68]:
fruits = ['사과', '바나나', '감자', '메론', '복숭아', '딸기']

**예제 02**

위에서 만든 리스트에 "포도"를 추가하세요

In [69]:
fruits.append('포도')
print(fruits)

['사과', '바나나', '감자', '메론', '복숭아', '딸기', '포도']

**예제 03**

"감자"가 잘못 들어가 있었습니다. "감자"를 삭제하세요

In [70]:
fruits.remove('감자')
print(fruits)

['사과', '바나나', '메론', '복숭아', '딸기', '포도']

**예제 04**

"복숭아"와 "딸기" 사이에 "레몬"을 추가하세요

In [71]:
fruits.insert(4, '레몬')
print(fruits)

['사과', '바나나', '메론', '복숭아', '레몬', '딸기', '포도']

**예제 05**

최종적으로 만든 리스트 순서는 아래와 같습니다. 

* 리스트 순서: 사과, 바나나, 메론, 복숭아, 레몬, 딸기, 포도

사용자가 리스트 안의 과일을 입력하면 입력한 과일이 몇번째에 있는지 알려주는 코드를 작성하세요

```
>> 0
0 번째 과일은 사과 입니다.
>>3
3 번째 과일은 복숭아 입니다.
```

In [72]:
idx=int(input())
print(f'{idx} 번째 과일은 {fruits[idx]} 입니다.')

0
0 번째 과일은 사과 입니다.

**예제 06**

리스트가 아래와 같이 정의되어 있습니다. `num_list`를 정의하세요

```
num_list = [1,2,3,4,5,6,7,8,9,10]
```

In [73]:
num_list = [1,2,3,4,5,6,7,8,9,10]

**예제 07**

`num_list` 의 짝수 값만 슬라이싱 해서 `num_list1` 로 바인딩 하고 출력하세요.

In [74]:
num_list1 = num_list[1::2]
print(num_list1)

[2, 4, 6, 8, 10]

**예제 08**

`num_list` 의 홀수 값만 슬라이싱 해서 `num_list2` 로 바인딩 하고 출력하세요.

In [75]:
num_list2 = num_list[::2]
print(num_list2)

[1, 3, 5, 7, 9]

**예제 09**

`num_list` 의 3의 배수만 슬라이싱 해서 `num_list3` 으로 바인딩 하고 출력하세요.

In [76]:
num_list3 = num_list[2::3]
print(num_list3)

[3, 6, 9]

**예제 10**

`num_list1` 과 `num_list2` 를 합쳐 `num_list4`으로 바인딩하세요

In [77]:
num_list4 = num_list1+num_list2
print(num_list4)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

**예제 11**

`num_list4` 을 오름차순으로 정렬하세요

In [78]:
num_list4 = sorted(num_list4)
print(num_list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**예제 12**

리스트가 아래와 같이 정의되어 있습니다. 문자열로 바꿔 출력하는 코드를 두 줄만 써서 작성하세요

```
>> my_list = ["a", "b", "c", "d"]
>> # 코드작성 (join 사용)
>> # 코드작성 (print 사용)
a and b and c and d
```

In [79]:
my_list = ["a", "b", "c", "d"]
s = ' and '.join(my_list)
print(s)

a and b and c and d


**예제 13**

사용자가 문자열을 입력하면 리스트로 변환하는 코드를 작성하세요

|예시| 결과|
--|--
`a,b`| `['a','b']`
`a,c,d,f,q`| `['a','c','d','f','q']`
`d,c,a,b`| `['d','c','a','b']`

In [80]:
s = input()
l = s.split(',')
print(l)

a,b
['a', 'b']

**예제 14**

사용자가 문자열을 입력하면 오름차순으로 정렬한 리스트를 출력하는 코드를 작성하세요

|예시| 결과|
--|--
`a,b`| `['a','b']`
`a,c,d,f,e`| `['a','c','d','e','f']`
`d,c,a,b`| `['a', 'b', 'c', 'd']`

In [81]:
s = input()
l = s.split(',')
l.sort() # 혹은 l = sorted(l)
print(l)

a,b
['a', 'b']


**예제 15**

사용자가 문자열을 입력하면 문자열을 뒤집은 리스트를 출력하는 코드를 작성하세요

|예시| 결과|
--|--
`a,b`| `['b','a']`
`a,c,d,f,e`| `['e','f','d','c','a']`
`d,c,a,b`| `['b', 'a', 'c', 'd']`

In [82]:
s = input()
l = s.split(',')
l.reverse()
print(l)

a,b
['b', 'a']

**예제 16**


사용자가 문자열을 입력하면 내림차순으로 정렬한 리스트를 출력하는 코드를 작성하세요

|예시| 결과|
--|--
`a,b`| `['b','a']`
`a,c,d,f,e`| `['f','e','d','c','a']`
`d,c,a.b`| `['d', 'c', 'b', 'a']`

In [83]:
s = input()
l = s.split(',')
l.sort(reverse=True) # 혹은 l = sorted(l, reverse=True)
print(l)

a,b
['b', 'a']

**예제 17**

기말고사 점수가 아래와 같습니다. score를 정의하세요

```
score = [80,20,30,50,20,20,100,90]
```

In [84]:
score = [80,20,30,50,20,20,100,90]

**예제 18**

기말고사 점수의 최저점수와 최고점수를 구하는 코드를 작성하세요

In [85]:
print(f'기말고사 최저 점수는 {min(score)} 입니다.')
print(f'기말고사 최고 점수는 {max(score)} 입니다.')

기말고사 최저 점수는 20 입니다.
기말고사 최고 점수는 100 입니다.

**예제 19**

기말고사 점수의 평균을 구하는 코드를 작성하세요

In [86]:
mean_score = sum(score)/len(score)
print(f'기말고사 점수 평균은 {mean_score}점 입니다.')

기말고사 점수 평균은 51.25점 입니다.

**예제 20**

아파트 층이 다음과 같습니다. 리스트로 저장하세요 (이 리스트의 길이는 4입니다(층별) 각 층별 안에 3개의 호수가 들어갑니다.)


```
|401|402|403|
|301|302|303|
|201|202|203|
|101|102|103|
```

In [87]:
l = [[401,402,403],
     [301,302,303],
     [201,202,203],
     [101,102,103]]

**예제 21**

이 리스트의 길이를 출력하고 길이가 4인지 확인하세요

In [88]:
print(len(l))

4

**예제 22**

`[401,402,403]` 을 출력하세요

In [89]:
print(l[0])

[401, 402, 403]



**예제 23**

`202`를 출력하세요

In [92]:
print(l[2][1])

202

**예제 24**

`303`호를 출력하세요

In [91]:
print(l[1][2])

303